
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env

# Playwright Auth State
playwright/.auth
.playwright-cli/


# Agent CLI tools
.claude/